/* Espaciado para el contenedor principal */
section > .container {
    padding: 30px;
}
body {
    background-color: #f5f5f5;          /*cambio el color luego*/
    font-family: Arial, sans-serif;
}
/* BOTONES GENERAL */
.btn-rosa {
    background-color: #F7C6D7;
            color: #333;
            border: none;
            font-weight: bold;
            border-radius: 20px;
            padding: 10px 20px;
            transition: background-color 0.3s;
}
.btn-rosa:hover {
    background-color: #f5a4b7; /* Color de fondo al pasar el mouse */
    border-color: #f5a4b7;
}

/* NAVEGACION DEL MENU */
.navbar {
    background-color: #000000; /* Un rosa fuerte para el menú */

}
.navbar-brand, .nav-link.active {
            font-weight: bold;
            color: #F7C6D7;
}
.navbar .nav-link {
    color: #ffffff; /* Cambia el color de texto a blanco */
}



/* ESTILO DEL TEXTOS DE LAS IMAGENES */
.card-title-rosa {
    color: #171616; 
    font-family: Arial, sans-serif; 
    font-weight: bold; 
}

/* TARJETA DE PRODUCTO */
.tarjeta-producto {
    transition: transform 0.3s; /* Tiempo de transición para el efecto */
}
.tarjeta-producto:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la tarjeta al 105% */
}

/* PANTALLA DE DATALLES DE PRODUCTO */
.carousel {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    font-weight: bold;
}

.price {
    font-size: 1.5rem;
    color: #FF5733;
}

.discount {
    font-size: 1rem;
    color: #28a745;
}

/* boton de cesta */
.btn-cesta {
    background-color: transparent;
    color: #333;
    border: 2px solid #F7C6D7;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 8px; 
}

.btn-cesta:hover {
    background-color: #F7C6D7;
    border-color: #f5a4b7;
}

/* TABLAS DE LA CESTA */
.table th, .table td {
    border-bottom: 2px solid #F7C6D7; /* Línea divisoria inferior rosada */
}



/* creo que es de la pantalla login no recuerdo Estilo para el contenedor del formulario de inicio de sesión */
.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #f8f9fa; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.text-center {
    margin-top: 20px;
    color: #F7C6D7; 
}
.line {
    border-top: 1px solid #ccc;
    margin: 20px 0;
}
.form-control {
    border: 1px solid #F7C6D7; /* Borde de color para campos de usuario y contraseña */
}

/* imagenes del mismo tamaño en el contenedor luego lo pongo porque hay imagenes muy grandes :)
.card img {
    width: 100%; 
    height: auto; 
    max-height: 200px; 
    object-fit: cover; 
} */

